.short-line{
    width: 70%;
    margin: auto; 
}

.dashed-line {
    border: none;
    border-top: 1px dashed #535353;
    margin: 20px 0;
}

@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.Baskervville-SC {
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;  
}

.Montserrat {
    font-family: "Montserrat", sans-serif;
}

.Poppins {
    font-family: "Poppins", sans-serif;
}


